<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>ToDo List</title>
</head>
<body>
    <form action="/create" method="post">
        <div>
            <label>E-mail:</label>
            <input type="text" name="email" placeholder="Insira seu e-mail">
        </div>
        <div>
            <label>Telefone:</label>
            <input type="text" name="telefone" placeholder="Insira seu telefone">
        </div>
        <button type="submit">Enviar</button>

        <ul>
            <% dadosCadastradosBD.forEach((elemento) => { %>
            <li>
                <%= elemento.email %>
            </li>
            <% }) %>
        </ul>
    </form>

    <script src="script.js"></script>
</body>
</html>